name: Deploy

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug
      environment:
        description: 'Environment to deploy to'
        required: true
        default: 'staging'
        type: choice
        options:
        - staging
        - production

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT_PJPYTOOLS }}

      - name: Store the latest_tag in steps.vars.outputs
        id: vars
        run: |
          git fetch --tags
          LATEST_TAG=$(git tag | sort --version-sort | tail -n1)
          echo "latest_tag=$LATEST_TAG" >> $GITHUB_OUTPUT

      - name: Check output
        env:
          RELEASE_VERSION: ${{ steps.vars.outputs.latest_tag }}
        run: |
          echo $RELEASE_VERSION

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          # The build context (current directory of the repository).
          context: .
          # Path to the Dockerfile.
          file: ./Dockerfile
          # Set to true to push to a registry (e.g., Docker Hub, GHCR).
          push: false
          # Set to true to load the built image into the local Docker daemon.
          load: true
          # Define image tags (e.g., your-username/my-image:latest)
          tags: |
            pjpylib-stg:latest
            pjpylib-stg:${{ steps.vars.outputs.latest_tag }}
          # Add other options like build-args, target, etc. as needed

      # - name: Docker images check
      #   run:
      #     docker image ls
