# Ref. https://github.com/DataLabTechTV/datalab/blob/main/.github/workflows/release.yml

name: Release

on:
  pull_request:
    branches:
      - master
    types:
      - closed

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    if: ${{ github.event.pull_request.merged }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT_PJPYTOOLS }}

      - name: Set up uv and python
        uses: astral-sh/setup-uv@v6
        with:
          python-version: 3.13

      - name: Run semantic-release
        env:
          GH_TOKEN: ${{ secrets.PAT_PJPYTOOLS }}
        run: | #shell
          sr() {
            uvx --from="python-semantic-release@10.4.1" semantic-release "$@"
          }

          sr version
          sr publish

  deploy:
    runs-on: pjpytools
    needs: release
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT_PJPYTOOLS }}

      - name: Store the latest_tag in steps.vars.outputs
        id: vars
        run: |
          git fetch --tags
          LATEST_TAG=$(git tag | sort --version-sort | tail -n1)
          echo "latest_tag=$LATEST_TAG" >> $GITHUB_OUTPUT

      - name: Check release version output
        env:
          RELEASE_VERSION: ${{ steps.vars.outputs.latest_tag }}
        run: |
          echo $RELEASE_VERSION

      - name: Set environment abbreviation
        id: setenv
        run: |
          ENV_ABBR="-stg"
          echo "build_env=$ENV_ABBR" >> $GITHUB_OUTPUT

      - name: Check environment abbreviation output
        env:
          BUILD_ENV: ${{ steps.setenv.outputs.build_env }}
        run: |
          echo $BUILD_ENV

      - name: Prepare Key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY_PJULIAN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          ssh: |
            default=${{ env.SSH_AUTH_SOCK }}
          # The build context (current directory of the repository).
          context: .
          # Path to the Dockerfile.
          file: ./Dockerfile
          # Set to true to push to a registry (e.g., Docker Hub, GHCR).
          push: false
          # Set to true to load the built image into the local Docker daemon.
          load: true
          # Define image tags (e.g., your-username/my-image:latest)
          tags: |
            pjpytools${{ steps.setenv.outputs.build_env }}:latest
            pjpytools${{ steps.setenv.outputs.build_env }}:${{ steps.vars.outputs.latest_tag }}
          # Add other options like build-args, target, etc. as needed

      - name: Get docker images list
        id: dockervars
        run: |
          COMMAND_RESULT=$(docker image ls | grep pjpytools)
          # echo "docker_image_list=$COMMAND_RESULT" >> $GITHUB_OUTPUT
          echo "docker_image_list<<EOF" >> $GITHUB_OUTPUT
          echo "$COMMAND_RESULT" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Display results of getting the docker images list
        run: |
          echo "${{ steps.dockervars.outputs.docker_image_list }}"
